pydantic==2.6.0
requests
sqlalchemy
elasticsearch
numpy
torch
fastapi
uvicorn
transformers
minio
sentence_transformers
pillow
opencv-python
apscheduler
networkx
httpx
label_studio_sdk
datasets==2.16.1